:root {
  --fg: #000;
  --lime-cream: #e1ff9c;
  --lime-cream-2: #bde858;
  --light-gold: #fff491;
  --banana-cream: #ffe44d;
  --icy-blue: #c2ecff;
  --maya-blue: #70bcff;
  --powder-blush: #efb0a1;

  --wave-height: 20px;
  --nav-content-height: 80px;
  --nav-height: calc(var(--nav-content-height) + var(--wave-height));
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "SS Pretzel", sans-serif;
}

* {
  box-sizing: border-box;
}

nav {
  background: var(--lime-cream);

  width: 100%;
  height: var(--nav-content-height);
  position: sticky;
  top: 0px;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 30px;
  padding: 0 30px;

  > .logo {
    flex-grow: 1;
    font-size: 20px;
  }
  a {
    color: var(--fg);
    text-decoration: none;
  }
  > details {
    margin: 0;
    padding: 0;

    position: relative;
    > ul {
      position: absolute;
      left: 0px;

      margin: 0;
      padding: 0;

      list-style-type: none;
      background: var(--lime-cream);

      > li {
        margin: 20px;
      }
    }
  }
}

header {
  background: var(--lime-cream);
  min-height: calc(95vh - var(--nav-content-height) - var(--wave-height));

  position: relative;
  z-index: -1; /* appear behind nav bar */

  h1 {
    margin: 0;
  }
}

nav,
header {
  &::after {
    content: " ";
    position: absolute;
    left: 0px;
    top: 100%;
    background: var(--lime-cream);
    width: 100%;
    height: var(--wave-height);
    mask: url("wavy.svg") repeat-x 0 0 / 800px var(--wave-height);
    z-index: -1; /* appear beneath the language dropdown */
  }
}

section {
  scroll-margin-top: calc(var(--nav-height) + 10px);
}

@font-face {
  font-family: "SS Pretzel";
  /* TODO: Maybe convert to WOFF2 */
  src: url("../fonts/SS Pretzel/OTF/SS Pretzel.otf");
  font-display: block;
}
