:root {
  --fg: #000;
  --lime-cream: #e1ff9c;
  --lime-cream-2: #bde858;
  --light-gold: #fff491;
  --banana-cream: #ffe44d;
  --icy-blue: #c2ecff;
  --maya-blue: #70bcff;
  --powder-blush: #efb0a1;

  --wave-height: 20px;
  --nav-content-height: 80px;
  --nav-height: calc(var(--nav-content-height) + var(--wave-height));
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "SS Pretzel", sans-serif;
}

* {
  box-sizing: border-box;
}

nav {
  background: var(--lime-cream);

  width: 100%;
  height: var(--nav-content-height);
  position: sticky;
  top: 0px;
  z-index: 2; /* Appear above carousel controls */

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 30px;
  padding: 0 30px;

  > .logo {
    flex-grow: 1;
    font-size: 20px;
  }
  a {
    color: var(--fg);
    text-decoration: none;
  }
  > details {
    margin: 0;
    padding: 0;

    position: relative;
    > ul {
      position: absolute;
      left: 0px;

      margin: 0;
      padding: 0;

      list-style-type: none;
      background: var(--lime-cream);

      > li {
        margin: 20px;
      }
    }
  }
}

header {
  background: var(--lime-cream);
  min-height: calc(95vh - var(--nav-content-height) - var(--wave-height));
  padding-top: var(--wave-height);

  position: relative;

  display: flex;
  flex-flow: row wrap;
  align-items: center;

  > .logo {
    flex-grow: 1;
    text-align: center;
  }
  > .series-carousel {
    flex-grow: 1;
    max-width: 100%;
    padding: 16px;

    > .splide {
      max-height: 60vh;
      --aspect-ratio: 1.05;
      aspect-ratio: var(--aspect-ratio);
      margin: 0 auto;
      --padding: 15%;

      > .splide__track {
        height: 100%;

        mask: linear-gradient(
          to right,
          transparent 0%,
          black 15%,
          black 85%,
          transparent 100%
        );

        > .splide__list > .splide__slide {
          width: 100%;
          text-align: center;
          --scale: 1.03;
          /*
		   * Because of the mask, scaling the image up will clip it, so we shrink the image a little
		   * instead by adding vertical padding. Suppose the carousel has height `h`, and let our
		   * padding value be `p`. Since padding % is a % of the parent width, we have:
		   * h = h / var(--scale) + 2 * p * (1 - 2 * var(--padding)) * var(--aspect-ratio) * h
		   */
          padding: calc(
              (50% - 50% / var(--scale)) / (1 - 2 * (var(--padding) / 100%)) /
                var(--aspect-ratio)
            )
            0;
          transition: scale 0.2s ease;
          &:hover {
            scale: var(--scale);
          }
          > img {
            height: 100%;
            width: auto;
          }
        }
      }
    }
  }
}

/* Add the wave at the bottom of the <nav> and <header>. */
nav,
header,
nav > details > ul {
  &::after {
    content: " ";
    position: absolute;
    left: 0px;
    top: 100%;
    background: var(--lime-cream);
    width: 100%;
    height: var(--wave-height);
    mask: url("wavy.svg") repeat-x 120px 0 / 800px var(--wave-height);
    z-index: -1; /* appear beneath the language dropdown */
  }
}

section {
  scroll-margin-top: calc(var(--nav-height) + 10px);
}

@font-face {
  font-family: "SS Pretzel";
  /* TODO: Maybe convert to WOFF2 */
  src: url("../fonts/SS Pretzel/OTF/SS Pretzel.otf");
  font-display: block;
}
